:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;

  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

button {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  height: 40px;
  background: #4e75ff;
  border: none;
  &:hover {
    background: #6c8cff;
  }
  &:disabled {
    background: #cfcfcf;
    color: #989898;
  }
}
input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
  &:hover {
    border: 1px solid #000;
  }
  &:active {
    border: 1px solid #4e75ff;
  }
  &:disabled {
    border: 1px solid #808080;
    color: #808080;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
